<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.payment.service.mapper.PaymentOrderMapper">

    <!-- 查询幂等订单 -->
    <select id="selectByRequestId"
            resultType="com.payment.service.entity.PaymentOrder">
        SELECT *
        FROM payment_order
        WHERE request_id = #{requestId}
        LIMIT 1
    </select>

</mapper>
